<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>

    <h1 id="bck">CALENDAR</h1>
    <div class="main">
        <button class="viewevent">View Events</button>
        <div id="date">
            <p id="dt">FRIDAY, APRIL 1</p>
        </div>
        <div id="daily">

        </div>
        <div id="time">
            <div id="AM">
                <span id="red">AM</span>
                <div id="amclck" class="clck">

                </div>
            </div>
            <div id="PM">
                <span id="blue">PM</span>
                <div id="pmclck" class="clck">

                </div>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
<script type="module" src="/client.js"></script>
</html>