<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
            <img src="https://media3.giphy.com/avatars/gifcalendar/a5CM8bx5vWk0.gif" alt="" srcset="">
            <a class="scd" id="scd" href="/events">View Schedule</a>

</body>
<style>
    body{
        background-color: white;
    }
    footer{
        color: black;
    }
</style>
<%- include('./partials/footer.ejs')%>
</html>